@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Width */
::-webkit-scrollbar {
    width: 5px; /* Width of vertical scrollbar */
    height: 8px; /* Height of horizontal scrollbar */
}


/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #7f1d1d;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4c1111;
}